body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.nav-menu{
  display: inline-block;
  margin: 10px;
}

.slider{

  margin: 10px;
  text-align: center;

}

.center {
  height: 450px;
  width: 640px;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.slide2{

  text-align: center;

}


.slide-enter {
  opacity: 0.01;
  transform: translateX(-100vw);

}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition:  4000ms ease-out;
  transform: translateX(0%);
}

.slide-leave {
  opacity: 1;
  transform: translateX(0%);
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: 4000ms ease-out;
  transform: translateX(100vw);
}
